use_default_settings: true

general:
  instance_name: "PomeloGPT Search"
  privacypolicy_url: false
  donation_url: false
  contact_url: false
  enable_metrics: false

search:
  safe_search: 0
  autocomplete: ""
  default_lang: ""
  formats:
    - html
    - json

server:
  secret_key: "pomelogpt-searxng-secret-key-change-this"
  limiter: false
  image_proxy: true
  method: "GET"
  
ui:
  static_use_hash: true
  default_theme: simple
  query_in_title: false
  infinite_scroll: false
  
enabled_plugins:
  - 'Basic Calculator'
  - 'Hash plugin'
  
engines:
  - name: google
    disabled: false
    
  - name: duckduckgo
    disabled: false
    
  - name: bing
    disabled: false
    
  - name: brave
    disabled: false
    
  - name: wikipedia
    disabled: false
